<div>
  <% @students.each do |student| %>
    <div><%= student.to_s %></div>
  <% end %>
</div>
   #iterate over the  list of students returned from the 
   #index action in the controller and display